@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.global{
    font-size: 15px;
    background-color: #2D8CFF;
    font-family:"Roboto", "Lucida Grande", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.outerFrame{
    margin-top: auto;
    display: flex;
    flex-direction: row;
}

.leaveButton{
    margin-bottom: auto;
    display: flex;
    flex-direction: row-reverse;
    width: 1290px;
    margin-top: 2%;
}

.leaveButton button{
    height: 40px;
    width: 100px;
    align-self: center;
    background-color: #db1f1f;
    color: black;
    outline: none;
    border-radius: 8px;
    font-size: 11px;
    margin : 2px;
}


.leaveButton button:hover{
    background-color: #ab1a1a;
}

.zoom{
    height: 600px;
    width: 700px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
}

.zoomImage{
    width: 800px;
}

.chatFrame{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 700px;
}

.allChatBox{
    background-color: #FFF;
    border-left: 2px solid #f5f5f5;
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 250px;
    margin-top: auto;
    margin-bottom: auto;
}

.allChatTitle h1{
    font-size: 20px;
    padding-left: 10px;
    text-align: center;
}

.allChat{
    height: 570px;
    overflow-y: scroll;
}

.allChat ul{
    font-size: 15px;
    padding-left: 5px;
    list-style-type: none;
}


.chatBox{
    background-color: #FFF;
    border-left: 2px solid #f5f5f5;
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 250px;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.participantList{
    border-bottom: 2px solid #f5f5f5;
    height: 250px;
}

.participantList h1{
    font-size: 20px;
    padding-left: 10px;
    text-align: center;
}

.participantList ul{
    list-style-type: none;
    padding-left: 10px;
}

.participantList ul li:before{
    content: '';   
    display: inline-block;   
    height: 25px;   
    width: 25px;    
    background-size: 25px;   
    background-image: url('./profil_icon.png'); 
    background-repeat: no-repeat;   
    margin-right: 2px;
    background-position: center center;
    vertical-align: middle;
    padding-top: 5px;
}

.neighbourChat{
    height: 320px;
    overflow-y: scroll;
}

.neighbourChat ul{
    font-size: 15px;
    padding-left: 5px;
    list-style-type: none;
}

.message{
    border-top: 2px solid #f5f5f5;
    height: 30px;
    display: flex;   
}

.message input{
    height: 24px;
    width: 180px;
    border: initial;
    outline: none;
    font-size: 13px;
}

.message button{
    height: 22px;
    width: 40px;
    align-self: center;
    background-color: #2D8CFF;
    color: white;
    outline: none;
    border-radius: 8px;
    font-size: 11px;
    margin-right: 10%;
}

.message button:hover{
    background-color: #1872b8;
}

.linkClass {
    text-decoration: none; 
    color: #ffff;
  }
